openapi: 3.0.1
info:
  description: "Please have a look at the interfaces of comdirect REST API below.\
    \ Note: Currently it is not possible to request an access token via swagger UI\
    \ tools because of comdirect's proprietary authorization flow. The shown error\
    \ message is due to that circumstance."
  title: comdirect REST API
  version: "20.04"
servers:
- url: https://api.comdirect.de/api
tags:
- name: Banking
- name: Brokerage
- name: Messages
- name: Reports
- name: Session
paths:
  /banking/clients/{user}/v2/accounts/balances:
    get:
      operationId: bankingV2GetAccountBalances
      parameters:
      - description: Can be either the customer identification number (UUID) or 'user'
        in: path
        name: user
        required: true
        schema:
          type: string
      - description: Suppresses the master data of the accounts
        example: account
        in: query
        name: without-attr
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListResourceAccountBalance"
          description: successful operation
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
        "500":
          content: {}
          description: Unexpected Error
      security:
      - CdSecondary:
        - BANKING_RO
      summary: "Request for account information, including cash balance and buying\
        \ power, for all accounts"
      tags:
      - Banking
  /banking/v1/accounts/{accountId}/transactions:
    get:
      operationId: bankingV1GetAccountTransactions
      parameters:
      - description: 'Account identifier (UUID) '
        example: "1234567890"
        in: path
        name: accountId
        required: true
        schema:
          type: string
      - description: "Filters for AccountTransactions. Will return all AccountTransactions\
          \ (BOTH), or return all booked AccountTransactions (BOOKED), or all not\
          \ booked AccountTransactions (NOTBOOKED)."
        in: query
        name: transactionState
        schema:
          default: BOTH
          enum:
          - BOOKED
          - NOTBOOKED
          - BOTH
          type: string
      - description: "Filters for CREDIT, DEBIT or CREDIT_AND_DEBIT"
        in: query
        name: transactionDirection
        schema:
          default: CREDIT_AND_DEBIT
          enum:
          - CREDIT
          - DEBIT
          - CREDIT_AND_DEBIT
          type: string
      - description: Index of the first transaction.
        in: query
        name: paging-first
        schema:
          default: 0
          format: int32
          type: integer
      - description: "Enforce to load the master data of an attribute. Currently supported\
          \ attributes: account"
        example: account
        in: query
        name: with-attr
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListResourceAccountTransaction"
          description: successful operation
        "404":
          content: {}
          description: No transactions found
        "422":
          content: {}
          description: Error in request parameter
        "500":
          content: {}
          description: An internal Error occurred
      security:
      - CdSecondary:
        - BANKING_RO
      summary: Requests and returns a list of transactions for the given account
      tags:
      - Banking
  /banking/v2/accounts/{accountId}/balances:
    get:
      operationId: bankingV2GetAccountBalance
      parameters:
      - description: Account identifier (UUID)
        in: path
        name: accountId
        required: true
        schema:
          type: string
      - description: Suppresses the master data of the account
        example: account
        in: query
        name: without-attr
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountBalance"
          description: successful operation
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
        "500":
          content: {}
          description: Unexpected Error
      security:
      - CdSecondary:
        - BANKING_RO
      summary: "Request for account information, including cash balance and buying\
        \ power"
      tags:
      - Banking
  /brokerage/clients/{userId}/v3/depots:
    get:
      operationId: brokerageV3GetDepots
      parameters:
      - description: "UUID of the user to search depots for, or the string 'user'\
          \ to use the logged in user"
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListResourceDepot"
          description: successful operation
        "404":
          content: {}
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
          description: Unprocessable Entity
        "500":
          content: {}
          description: Unexpected Error
      security:
      - CdSecondary:
        - BROKERAGE_RW
      summary: Request for a list of the master data for the securities accounts of
        the registered user
      tags:
      - Brokerage
  /brokerage/depots/{depotId}/v3/orders:
    get:
      operationId: brokerageV3GetOrders
      parameters:
      - description: Reference to securities account number (as UUID).
        example: 382DAB0CCE5175A45A15351078060372
        in: path
        name: depotId
        required: true
        schema:
          type: string
      - description: "enables attribute: instrument."
        example: instrument
        in: query
        name: with-attr
        schema:
          type: string
      - description: "Disables attribute: executions."
        example: executions
        in: query
        name: without-attr
        schema:
          type: string
      - description: "Instrument id (UUID), unique identification of an instrument\
          \ (security, derivative, etc.)."
        example: 382DAB0CCE5175A45A15351078060372
        in: query
        name: instrumentId
        schema:
          type: string
      - description: ISIN
        example: DE0005428007
        in: query
        name: isin
        schema:
          type: string
      - description: WKN
        example: "542800"
        in: query
        name: wkn
        schema:
          type: string
      - description: Status of the order.
        example: PENDING
        in: query
        name: orderStatus
        schema:
          enum:
          - PENDING
          - OPEN
          - EXECUTED
          - SETTLED
          - CANCELLED_USER
          - EXPIRED
          - CANCELLED_SYSTEM
          - CANCELLED_TRADE
          - UNKNOWN
          type: string
      - description: "Venue id (UUID), unique identification of a venue."
        example: 382DAB0CCE5175A45A15351078060372
        in: query
        name: venueId
        schema:
          type: string
      - description: The order type.
        example: LIMIT
        in: query
        name: orderType
        schema:
          enum:
          - MARKET
          - LIMIT
          - QUOTE
          - STOP_MARKET
          - STOP_LIMIT
          - TRAILING_STOP_MARKET
          - TRAILING_STOP_LIMIT
          - ONE_CANCELS_OTHER
          - NEXT_ORDER
          type: string
      - description: "Minimum value of order's creation timestamp in UTC with the\
          \ following format: YYYY-MM-DDThh:mm:ss,ffffff+zz."
        example: "2018-07-03T12:00:00,123456+01"
        in: query
        name: min-creationTimeStamp
        schema:
          type: string
      - description: "Maximum value of order's creation timestamp in UTC with the\
          \ following format: YYYY-MM-DDThh:mm:ss,ffffff+zz."
        example: "2018-07-03T12:00:00,123456+01"
        in: query
        name: max-creationTimeStamp
        schema:
          type: string
      - description: Possible transaction types
        example: BUY
        in: query
        name: side
        schema:
          enum:
          - BUY
          - SELL
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListResourceOrder"
          description: successful operation
        "404":
          content: {}
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
        "503":
          content: {}
          description: Service Unavailable
      security:
      - CdSecondary:
        - BROKERAGE_RW
      summary: Delivers a list of all orders for the given depotId.
      tags:
      - Brokerage
  /brokerage/v1/instruments/{instrumentId}:
    get:
      operationId: brokerageV1GetInstrument
      parameters:
      - description: "Instrument identification - can be either the WKN, the ISIN\
          \ or the symbol of the instrument"
        example: "123456"
        in: path
        name: instrumentId
        required: true
        schema:
          type: string
      - description: "Enables attribute: orderDimensions"
        example: orderDimensions
        explode: true
        in: query
        name: with-attr
        schema:
          items:
            enum:
            - orderDimensions
            - fundDistribution
            - derivativeData
            type: string
          type: array
        style: form
      - description: "Disables attribute: staticData"
        example: staticData
        explode: true
        in: query
        name: without-attr
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListResourceInstrument"
          description: successful operation
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
      security:
      - CdSecondary:
        - BROKERAGE_RW
      summary: Request for an instrument's information
      tags:
      - Brokerage
  /brokerage/v3/depots/{depotId}/positions:
    get:
      operationId: brokerageV3GetDepotPositions
      parameters:
      - description: Reference to securities account number (as UUID).
        example: 0123456789ABCDEF0123456789ABCDEF
        in: path
        name: depotId
        required: true
        schema:
          type: string
      - description: "Instrument identification - can either be the WKN, the ISIN\
          \ or the UUID of the instrument."
        example: "710000"
        in: query
        name: instrumentId
        schema:
          type: string
      - description: "Disables attributes for this request. Allowed attributes: depot,\
          \ positions"
        explode: true
        in: query
        name: without-attr
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Enables additional attributes for this request. Allowed attributes:\
          \ instrument"
        in: query
        name: with-attr
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListResourceDepotPosition"
          description: successful operation
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
        "500":
          content: {}
          description: Unexpected Error
        "503":
          content: {}
          description: Service Unavailable
      security:
      - CdSecondary:
        - BROKERAGE_RW
      summary: "Request for securities positions, optionally including only the total\
        \ balance with securities account information"
      tags:
      - Brokerage
  /brokerage/v3/depots/{depotId}/positions/{positionId}:
    get:
      operationId: brokerageV3GetDepotPosition
      parameters:
      - description: Reference to securities account number (as UUID).
        example: 0123456789ABCDEF0123456789ABCDEF
        in: path
        name: depotId
        required: true
        schema:
          type: string
      - description: Position identification number in securities account (as UUID)
        in: path
        name: positionId
        required: true
        schema:
          type: string
      - description: "Enables additional attributes for this request. Allowed attributes:\
          \ instrument"
        in: query
        name: with-attr
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DepotPosition"
          description: successful operation
        "404":
          content: {}
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
          description: Unprocessable Entity
        "500":
          content: {}
          description: Unexpected Error
        "503":
          content: {}
          description: Service Unavailable
      security:
      - CdSecondary:
        - BROKERAGE_RW
      summary: Request for retrieving a single position of specific depot.
      tags:
      - Brokerage
  /brokerage/v3/depots/{depotId}/transactions:
    get:
      operationId: brokerageV3GetDepotTransactions
      parameters:
      - description: Reference to securities account number (as UUID).
        example: B2D8C9A36F640148C915338922030951
        in: path
        name: depotId
        required: true
        schema:
          type: string
      - description: ISIN
        example: DE0005428007
        in: query
        name: isin
        schema:
          type: string
      - description: WKN
        example: "542800"
        in: query
        name: wkn
        schema:
          type: string
      - description: "Instrument id (UUID), unique identification of an instrument."
        example: B2D8C9A36F640148C915338922030951
        in: query
        name: instrumentId
        schema:
          type: string
      - description: "Earliest booking date of the transaction. Format: YYYY-MM-DD\
          \ or as negative offset from the current date e.g. -10d"
        example: 2018-07-03
        in: query
        name: min-bookingDate
        schema:
          default: -180d
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListResourceDepotTransaction"
          description: successful operation
        "404":
          content: {}
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
        "503":
          content: {}
          description: Service Unavailable
      security:
      - CdSecondary:
        - BROKERAGE_RW
      summary: Depot transactions.
      tags:
      - Brokerage
  /brokerage/v3/orders:
    post:
      operationId: brokerageV3PostOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Order"
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
          description: successful operation
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
        "503":
          content: {}
          description: Service Unavailable
      security:
      - CdSecondary:
        - BROKERAGE_RW
      summary: Order entry.
      tags:
      - Brokerage
      x-codegen-request-body-name: body
  /brokerage/v3/orders/costindicationexante:
    post:
      operationId: brokerageV3GetOrdersCostIndicationExAnte
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Order"
        description: The Order for which the cost indication is to be calculated
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListResourceCostIndicationExAnte"
          description: successful operation
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
      security:
      - CdSecondary:
        - BROKERAGE_RW
      summary: Generation of the ex-ante cost indication on the basis of the order
        data.
      tags:
      - Brokerage
      x-codegen-request-body-name: order
  /brokerage/v3/orders/dimensions:
    get:
      operationId: brokerageV3GetOrderDimensions
      parameters:
      - description: "Instrument id (UUID), unique identification of an instrument\
          \ (security, derivative, etc.)."
        example: B2D8C9A36F640148C915338922030951
        in: query
        name: instrumentId
        schema:
          type: string
      - description: ISIN
        example: DE0005428007
        in: query
        name: isin
        schema:
          type: string
      - description: WKN
        example: "542800"
        in: query
        name: wkn
        schema:
          type: string
      - description: The custody type.
        example: "004"
        in: query
        name: custodyType
        schema:
          type: string
      - description: "Venue id (UUID), unique identification of a venue."
        example: B2D8C9A36F640148C915338922030951
        in: query
        name: venueId
        schema:
          type: string
      - description: The order type.
        example: LIMIT
        in: query
        name: orderType
        schema:
          enum:
          - MARKET
          - LIMIT
          - QUOTE
          - STOP_MARKET
          - STOP_LIMIT
          - TRAILING_STOP_MARKET
          - TRAILING_STOP_LIMIT
          - ONE_CANCELS_OTHER
          - NEXT_ORDER
          type: string
      - description: Possible transaction types.
        example: BUY
        in: query
        name: side
        schema:
          enum:
          - BUY
          - SELL
          type: string
      - description: Country of venue in ISO 3166-2.
        example: DE
        in: query
        name: country
        schema:
          type: string
      - description: Type of venue.
        example: EXCHANGE
        in: query
        name: type
        schema:
          enum:
          - EXCHANGE
          - FUND
          - "OFF"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListResourceDimensions"
          description: successful operation
        "404":
          content: {}
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
        "503":
          content: {}
          description: Service Unavailable
      security:
      - CdSecondary:
        - BROKERAGE_RW
      summary: Request for the trading venue and order options for a particular instrument
      tags:
      - Brokerage
  /brokerage/v3/orders/prevalidation:
    post:
      operationId: brokerageV3PostOrdersPrevalidation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Order"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
          description: successful operation
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
        "503":
          content: {}
          description: Service Unavailable
      security:
      - CdSecondary:
        - BROKERAGE_RW
      summary: Prevalidation of the order
      tags:
      - Brokerage
      x-codegen-request-body-name: body
  /brokerage/v3/orders/validation:
    post:
      operationId: brokerageV3PostOrdersValidation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Order"
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
          description: successful operation
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
        "503":
          content: {}
          description: Service Unavailable
      security:
      - CdSecondary:
        - BROKERAGE_RW
      summary: Validation of an order entry and triggering of a TAN-Challenge in a
        non-usage case of a Session-TAN.
      tags:
      - Brokerage
      x-codegen-request-body-name: body
  /brokerage/v3/orders/{orderId}:
    delete:
      operationId: brokerageV3DeleteOrder
      parameters:
      - description: Reference to order identifier (as UUID).
        example: 382DAB0CCE5175A45A15351078060372
        in: path
        name: orderId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
          description: successful operation
        "404":
          content: {}
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
        "503":
          content: {}
          description: Service Unavailable
      security:
      - CdSecondary:
        - BROKERAGE_RW
      summary: Order cancellation.
      tags:
      - Brokerage
    get:
      operationId: brokerageV3GetOrder
      parameters:
      - description: Unique orderId (UUID).
        example: 382DAB0CCE5175A45A15351078060372
        in: path
        name: orderId
        required: true
        schema:
          type: string
      - description: "Disables attribute: executions."
        example: executions
        in: query
        name: without-attr
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
          description: successful operation
        "404":
          content: {}
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
        "503":
          content: {}
          description: Service Unavailable
      security:
      - CdSecondary:
        - BROKERAGE_RW
      summary: Delivers an order for the given orderId.
      tags:
      - Brokerage
    patch:
      operationId: brokerageV3PatchOrder
      parameters:
      - description: Reference to order identifier (as UUID).
        example: 382DAB0CCE5175A45A15351078060372
        in: path
        name: orderId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Order"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
          description: successful operation
        "404":
          content: {}
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
        "503":
          content: {}
          description: Service Unavailable
      security:
      - CdSecondary:
        - BROKERAGE_RW
      summary: Order modification.
      tags:
      - Brokerage
      x-codegen-request-body-name: body
  /brokerage/v3/orders/{orderId}/costindicationexante:
    post:
      operationId: brokerageV3GetOrderCostIndicationExAnte
      parameters:
      - description: Reference to order identifier (as UUID).
        example: 382DAB0CCE5175A45A15351078060372
        in: path
        name: orderId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Order"
        description: The Order for which the cost indication is to be calculated
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListResourceCostIndicationExAnte"
          description: successful operation
        "404":
          content: {}
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
      security:
      - CdSecondary:
        - BROKERAGE_RW
      summary: Generation of the ex-ante cost indication on the basis of the order
        data.
      tags:
      - Brokerage
      x-codegen-request-body-name: order
  /brokerage/v3/orders/{orderId}/prevalidation:
    post:
      operationId: brokerageV3PostOrderPrevalidation
      parameters:
      - description: Reference to order identifier (as UUID).
        example: 382DAB0CCE5175A45A15351078060372
        in: path
        name: orderId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
          description: successful operation
        "404":
          content: {}
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
        "503":
          content: {}
          description: Service Unavailable
      security:
      - CdSecondary:
        - BROKERAGE_RW
      summary: Prevalidation of an order modfication
      tags:
      - Brokerage
      x-codegen-request-body-name: body
  /brokerage/v3/orders/{orderId}/validation:
    post:
      operationId: brokerageV3PostOrderValidation
      parameters:
      - description: Reference to order identifier (as UUID).
        example: 382DAB0CCE5175A45A15351078060372
        in: path
        name: orderId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
          description: successful operation
        "404":
          content: {}
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
        "503":
          content: {}
          description: Service Unavailable
      security:
      - CdSecondary:
        - BROKERAGE_RW
      summary: Validation of an order modification or order cancellation and triggering
        of a TAN Challenge in a non-usage case of a Session-TAN.
      tags:
      - Brokerage
      x-codegen-request-body-name: body
  /brokerage/v3/quotes:
    post:
      operationId: brokerageV3PostQuoteRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Quote"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quote"
          description: successful operation
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
      security:
      - CdSecondary:
        - BROKERAGE_RW
      summary: Sends a quote request to a venue
      tags:
      - Brokerage
      x-codegen-request-body-name: body
  /brokerage/v3/quoteticket:
    post:
      operationId: brokerageV3PostQuoteTicket
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Order"
        description: The order for which a ticket will be acquired
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
          description: successful operation
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
      security:
      - CdSecondary:
        - BROKERAGE_RW
      summary: Initiates a TAN-Challenge
      tags:
      - Brokerage
      x-codegen-request-body-name: order
  /brokerage/v3/quoteticket/{ticketId}:
    patch:
      operationId: brokerageV3PatchQuoteTicket
      parameters:
      - description: Reference to the quote ticket (as UUID).
        example: 54693D8EF76646559B76B42AE1A4E245
        in: path
        name: ticketId
        required: true
        schema:
          type: string
      responses:
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
      security:
      - CdSecondary:
        - BROKERAGE_RW
      summary: Initiate a TAN-Challange
      tags:
      - Brokerage
  /messages/clients/{user}/v2/documents:
    get:
      operationId: messagesV2GetDocuments
      parameters:
      - description: The literal "user" or the unique ID of the client.
        example: 0123456789ABCDEF0123456789ABCDEF
        in: path
        name: user
        required: true
        schema:
          type: string
      - description: Index of the returning results.
        example: 0
        in: query
        name: paging-first
        schema:
          default: 0
          format: int32
          minimum: 0.0
          type: integer
      - description: The maximum number of results that will be returned.
        example: 20
        in: query
        name: paging-count
        schema:
          default: 20
          format: int32
          maximum: 1000.0
          minimum: 1.0
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListResourceDocument"
          description: successful operation
        "404":
          content: {}
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
      security:
      - CdSecondary:
        - MESSAGES_RO
      summary: Delivers a list of documents for the customer.
      tags:
      - Messages
  /messages/v2/documents/{documentId}:
    get:
      operationId: messagesV2GetDocument
      parameters:
      - description: The unique ID of the document.
        example: 0123456789ABCDEF0123456789ABCDEF
        in: path
        name: documentId
        required: true
        schema:
          type: string
      responses:
        "404":
          content: {}
          description: Not Found
        "422":
          content:
            text/html:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
            application/pdf:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
        "503":
          content: {}
          description: Service Unavailable
      security:
      - CdSecondary:
        - MESSAGES_RO
      summary: Delivers a document for the given UUID.
      tags:
      - Messages
  /messages/v2/documents/{documentId}/predocument:
    get:
      operationId: messagesV2GetPredocument
      parameters:
      - description: The unique ID of the document.
        example: 0123456789ABCDEF0123456789ABCDEF
        in: path
        name: documentId
        required: true
        schema:
          type: string
      responses:
        "404":
          content: {}
          description: Not Found
        "422":
          content:
            text/html:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
            application/pdf:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
        "503":
          content: {}
          description: Service Unavailable
      security:
      - CdSecondary:
        - MESSAGES_RO
      summary: Delivers a predocument for the given UUID.
      tags:
      - Messages
  /reports/participants/{user}/v1/allbalances:
    get:
      operationId: reportsV1GetParticipantBalances
      parameters:
      - description: The literal "user" or the UUID of the participant.
        example: B2D8C9A36F640148C915338922030951
        in: path
        name: user
        required: true
        schema:
          type: string
      - description: A single ConnectionType of a client connection or a list of ConnectionTypes.
        explode: true
        in: query
        name: clientConnectionType
        schema:
          items:
            type: string
          type: array
        style: form
      - description: A single UUID of a target client or a list of UUIDs.
        explode: true
        in: query
        name: targetClientId
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Prevents setting the static data in the balance objects.
        example: balance.staticdata
        explode: true
        in: query
        name: without-attr
        schema:
          items:
            enum:
            - balance.staticdata
            type: string
          type: array
        style: form
      - description: Filter for a single or list of product types.
        explode: true
        in: query
        name: productType
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListResourceProductBalance"
          description: successful operation
        "404":
          content: {}
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardErrorResponse"
          description: Unprocessable Entity
        "501":
          content: {}
          description: Not Implemented
      security:
      - CdSecondary:
        - REPORTS_RO
      summary: List of all balances for a client's own and connected products.
      tags:
      - Reports
  /session/clients/{user}/v1/sessions:
    get:
      operationId: sessionV1GetSession
      parameters:
      - description: The literal "user" or the UUID of the client.
        example: ABCDEF0123456789ABCDEF0123456789
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Session"
                type: array
          description: successful operation
        "500":
          content: {}
          description: Internal Server Error
      security:
      - ResourceOwnerPasswordCredentials:
        - TWO_FACTOR
      - CdSecondary:
        - SESSION_RW
      summary: "Returns the current Session-Objects for the specified client, can\
        \ handle the literal \"user\" for the currently logged in client."
      tags:
      - Session
  /session/clients/{user}/v1/sessions/{session}:
    patch:
      operationId: sessionV1PatchSession
      parameters:
      - description: The literal "user" or the UUID of the client.
        example: ABCDEF0123456789ABCDEF0123456789
        in: path
        name: user
        required: true
        schema:
          type: string
      - description: Reference to the session (UUID)
        example: ABCDEF0123456789ABCDEF0123456789
        in: path
        name: session
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/Session"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
          description: successful operation
        "422":
          content: {}
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
      security:
      - ResourceOwnerPasswordCredentials:
        - TWO_FACTOR
      - CdSecondary:
        - SESSION_RW
      summary: Writes updates to a session
      tags:
      - Session
      x-codegen-request-body-name: body
  /session/clients/{user}/v1/sessions/{session}/validate:
    post:
      operationId: sessionV1PostSessionValidation
      parameters:
      - description: The literal "user" or the UUID of the client.
        example: ABCDEF0123456789ABCDEF0123456789
        in: path
        name: user
        required: true
        schema:
          type: string
      - description: Reference to the session (UUID)
        example: ABCDEF0123456789ABCDEF0123456789
        in: path
        name: session
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Session"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
          description: successful operation
        "422":
          content: {}
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
      security:
      - ResourceOwnerPasswordCredentials:
        - TWO_FACTOR
      - CdSecondary:
        - SESSION_RW
      summary: Validates the input and checks if the client is able to update the
        current session. An activated session TAN cannot be deactivated in the current
        session. It is necessary to provide a TAN when patching the activation of
        the session TAN.
      tags:
      - Session
      x-codegen-request-body-name: body
components:
  schemas:
    Account:
      description: Master data of an account
      example:
        accountId: accountId
        clientId: clientId
        accountDisplayId: accountDisplayId
        accountType:
          text: text
          key: key
        iban: iban
        creditLimit:
          unit: EUR
          value: "999.99"
        currency:
          Currency: EUR
      properties:
        accountId:
          description: Account identifier (UUID)
          readOnly: true
          type: string
        accountDisplayId:
          description: Account identfier
          readOnly: true
          type: string
        currency:
          $ref: "#/components/schemas/CurrencyString"
        clientId:
          description: Identification Code of the client (UUID)
          readOnly: true
          type: string
        accountType:
          $ref: "#/components/schemas/EnumText"
        iban:
          description: "IBAN (International bank account number), if available"
          readOnly: true
          type: string
        creditLimit:
          $ref: "#/components/schemas/AmountValue"
      type: object
    AccountBalance:
      description: "Account information, including cash balance and buying power"
      example:
        accountId: accountId
        availableCashAmountEUR:
          unit: EUR
          value: "999.99"
        balance:
          unit: EUR
          value: "999.99"
        availableCashAmount:
          unit: EUR
          value: "999.99"
        balanceEUR:
          unit: EUR
          value: "999.99"
        account:
          accountId: accountId
          clientId: clientId
          accountDisplayId: accountDisplayId
          accountType:
            text: text
            key: key
          iban: iban
          creditLimit:
            unit: EUR
            value: "999.99"
          currency:
            Currency: EUR
      properties:
        account:
          $ref: "#/components/schemas/Account"
        accountId:
          description: Account identifier (UUID)
          readOnly: true
          type: string
        balance:
          $ref: "#/components/schemas/AmountValue"
        balanceEUR:
          $ref: "#/components/schemas/AmountValue"
        availableCashAmount:
          $ref: "#/components/schemas/AmountValue"
        availableCashAmountEUR:
          $ref: "#/components/schemas/AmountValue"
      type: object
    AccountInformation:
      description: Model for the information of an account (debtor/creditor).
      example:
        holderName: holderName
        iban: iban
        bic: bic
      properties:
        holderName:
          description: name of the account owner
          readOnly: true
          type: string
        iban:
          description: The IBAN (International bank account number) for the account
            - if available
          readOnly: true
          type: string
        bic:
          description: The BIC (Bank Identifier Code) for the IBAN - if available
          readOnly: true
          type: string
      type: object
    AccountTransaction:
      description: Model for an account transaction.
      example:
        deptor:
          holderName: holderName
          iban: iban
          bic: bic
        directDebitMandateId: directDebitMandateId
        amount:
          unit: EUR
          value: "999.99"
        newTransaction: false
        remitter:
          holderName: holderName
          iban: iban
          bic: bic
        valutaDate: valutaDate
        endToEndReference: endToEndReference
        reference: reference
        transactionType:
          text: text
          key: key
        directDebitCreditorId: directDebitCreditorId
        bookingStatus: BOOKED
        bookingDate:
          date: 2018-07-03
        creditor:
          holderName: holderName
          iban: iban
          bic: bic
        remittanceInfo: remittanceInfo
      properties:
        reference:
          description: unique reference code of the transaction
          readOnly: true
          type: string
        bookingStatus:
          description: Status of transaction
          enum:
          - BOOKED
          - NOTBOOKED
          readOnly: true
          type: string
        bookingDate:
          $ref: "#/components/schemas/DateString"
        amount:
          $ref: "#/components/schemas/AmountValue"
        remitter:
          $ref: "#/components/schemas/AccountInformation"
        deptor:
          $ref: "#/components/schemas/AccountInformation"
        creditor:
          $ref: "#/components/schemas/AccountInformation"
        valutaDate:
          description: Availability date (yyyy-mm-dd). Could be an invalid date e.g.
            2019-12-32
          readOnly: true
          type: string
        directDebitCreditorId:
          description: "Gives back the creditor identifier of an account transaction,\
            \ if it is a direct debit."
          readOnly: true
          type: string
        directDebitMandateId:
          description: "Gives back the mandateId of an account transaction, if it\
            \ is a direct debit."
          readOnly: true
          type: string
        endToEndReference:
          description: "Gives back the end-to-end-reference of an account transaction,\
            \ if it is a direct debit."
          readOnly: true
          type: string
        newTransaction:
          default: false
          description: Shows whether the client has seen the account transaction in
            web.
          readOnly: true
          type: boolean
        remittanceInfo:
          description: remittance information of the transaction. This can be more
            then one line with a length of 35 symbols. The lines will be numbered
            in case of an already booked transaction.
          readOnly: true
          type: string
        transactionType:
          $ref: "#/components/schemas/EnumText"
      type: object
    AggregatedInfo:
      type: object
    AmountValue:
      description: Represents the amount value with the currency.
      example:
        unit: EUR
        value: "999.99"
      properties:
        value:
          description: Nominal value in corresponding unit
          example: "999.99"
          readOnly: true
          type: string
        unit:
          description: "{XXX, XXC, XXM, XXP, XXU} or currencies according to ISO-4217\
            \ (EUR, USD, GBP,...)"
          example: EUR
          maxLength: 3
          minLength: 3
          readOnly: true
          type: string
      type: object
    Balance:
      description: A balance object is equal to one of the types indicated by the
        attributes in this definition.
      example:
        cardBalance:
          balance:
            unit: EUR
            value: "999.99"
          availableCashAmount:
            unit: EUR
            value: "999.99"
          cardId: 0123456789ABCDEF0123456789ABCDEF
          card:
            participantId: 0123456789ABCDEF0123456789ABCDEF
            cardImage:
              visaCardImageId: "0002"
              imageDescription: Schmetterling
              imageBaseFilename: visual_visamotiv_karte0002
            holderName: Tommer Tapir
            clientId: 0123456789ABCDEF0123456789ABCDEF
            cardId: 0123456789ABCDEF0123456789ABCDEF
            cardType:
              text: text
              key: key
            cardDisplayId: XXXX XXXX XXXX 1234
            primaryAccountNumberSuffix: "1234"
            cardValidity: 01/21
            settlementAccountId: 0123456789ABCDEF0123456789ABCDEF
            cardLimit:
              unit: EUR
              value: "999.99"
            status: ACTIVE
        installmentLoanBalance:
          installmentLoan:
            netCreditAmount:
              unit: EUR
              value: "999.99"
            productDisplayId: "0123456789"
            paidOutAmount:
              unit: EUR
              value: "999.99"
            installmentAmount:
              unit: EUR
              value: "999.99"
            effectiveInterest: "99.999"
            installmentLoanId: 0123456789ABCDEF0123456789ABCDEF
            creditAmount:
              unit: EUR
              value: "999.99"
            nominalInterest: "99.999"
            contractPeriodInMonths: 42
            contractConclusionDate: 2019-03-14
          balance:
            unit: EUR
            value: "999.99"
          installmentLoanId: 0123456789ABCDEF0123456789ABCDEF
        depotAggregation:
          purchaseValue:
            unit: EUR
            value: "999.99"
          profitLossPurchaseRel:
            decimalPlaces: "99"
            percentString: percentString
            preDecimalPlaces: "99"
          dateLastUpdate: dateLastUpdate
          depot:
            defaultSettlementAccountId: defaultSettlementAccountId
            clientId: 0123456789ABCDEF0123456789ABCDEF
            depotId: depotId
            depotDisplayId: depotDisplayId
            settlementAccountIds:
            - settlementAccountIds
            - settlementAccountIds
          lendingValue:
            unit: EUR
            value: "999.99"
          depotId: depotId
          profitLossPrevDayAbs:
            unit: EUR
            value: "999.99"
          profitLossPurchaseAbs:
            unit: EUR
            value: "999.99"
          prevDayValue:
            unit: EUR
            value: "999.99"
          currentValue:
            unit: EUR
            value: "999.99"
          profitLossPrevDayRel:
            decimalPlaces: "99"
            percentString: percentString
            preDecimalPlaces: "99"
        fixedTermSavings:
          savingsAmount:
            unit: EUR
            value: "999.99"
          interestRate: "99.999"
          fixedTermSavingsDisplayName: Laufzeitkonto
          fixedTermSavingsId: 0123456789ABCDEF0123456789ABCDEF
          fixedTermSavingsType: SHORT_TERM
          extendable: true
          creationDate: 2019-03-14
          prolongationAmount:
            unit: EUR
            value: "999.99"
          contractPeriodInMonths: 120
          expirationDate: 2019-03-14
        accountBalance:
          accountId: accountId
          availableCashAmountEUR:
            unit: EUR
            value: "999.99"
          balance:
            unit: EUR
            value: "999.99"
          availableCashAmount:
            unit: EUR
            value: "999.99"
          balanceEUR:
            unit: EUR
            value: "999.99"
          account:
            accountId: accountId
            clientId: clientId
            accountDisplayId: accountDisplayId
            accountType:
              text: text
              key: key
            iban: iban
            creditLimit:
              unit: EUR
              value: "999.99"
            currency:
              Currency: EUR
      properties:
        accountBalance:
          $ref: "#/components/schemas/AccountBalance"
        cardBalance:
          $ref: "#/components/schemas/CardBalance"
        depotAggregation:
          $ref: "#/components/schemas/DepotAggregation"
        fixedTermSavings:
          $ref: "#/components/schemas/FixedTermSavings"
        installmentLoanBalance:
          $ref: "#/components/schemas/InstallmentLoanBalance"
      type: object
    BusinessMessage:
      description: Model for an error
      example:
        severity: ERROR
        args:
        - "{}"
        - "{}"
        origin:
        - origin
        - origin
        message: message
        key: request.object.invalid
      properties:
        key:
          description: Identifier for the error
          enum:
          - request.object.invalid
          - request.query.invalid
          type: string
        severity:
          description: Severity level of the error
          enum:
          - ERROR
          - INFO
          - WARN
          type: string
        message:
          description: Default error message
          type: string
        origin:
          description: List of properties causing validation errors
          items:
            type: string
          type: array
        args:
          description: Arguments for the error message
          items:
            properties: {}
            type: object
          type: array
      type: object
    Card:
      description: Model for a card.
      example:
        participantId: 0123456789ABCDEF0123456789ABCDEF
        cardImage:
          visaCardImageId: "0002"
          imageDescription: Schmetterling
          imageBaseFilename: visual_visamotiv_karte0002
        holderName: Tommer Tapir
        clientId: 0123456789ABCDEF0123456789ABCDEF
        cardId: 0123456789ABCDEF0123456789ABCDEF
        cardType:
          text: text
          key: key
        cardDisplayId: XXXX XXXX XXXX 1234
        primaryAccountNumberSuffix: "1234"
        cardValidity: 01/21
        settlementAccountId: 0123456789ABCDEF0123456789ABCDEF
        cardLimit:
          unit: EUR
          value: "999.99"
        status: ACTIVE
      properties:
        cardId:
          description: Card identifier (UUID).
          example: 0123456789ABCDEF0123456789ABCDEF
          readOnly: true
          type: string
        cardType:
          $ref: "#/components/schemas/EnumText"
        clientId:
          description: Client connection uniquely assigned to the credit card account.
          example: 0123456789ABCDEF0123456789ABCDEF
          readOnly: true
          type: string
        participantId:
          description: Contract code of the client uniquely assigned to the credit
            card account.
          example: 0123456789ABCDEF0123456789ABCDEF
          readOnly: true
          type: string
        holderName:
          description: Name of the card holder
          example: Tommer Tapir
          readOnly: true
          type: string
        settlementAccountId:
          description: "Default settlement account number uniquely assigned to the\
            \ credit card account. In this case, it has to be the current account."
          example: 0123456789ABCDEF0123456789ABCDEF
          readOnly: true
          type: string
        cardDisplayId:
          description: Partially masked credit card number.
          example: XXXX XXXX XXXX 1234
          readOnly: true
          type: string
        cardValidity:
          description: "validity of the card. Format: MM/YY"
          example: 01/21
          readOnly: true
          type: string
        cardImage:
          $ref: "#/components/schemas/VisaCardImage"
        primaryAccountNumberSuffix:
          description: Last 4 digits of the credit card number
          example: "1234"
          readOnly: true
          type: string
        cardLimit:
          $ref: "#/components/schemas/AmountValue"
        status:
          description: Status of the card.
          enum:
          - ACTIVE
          - INACTIVE
          - IN_CHANGE
          - UNKNOWN
          example: ACTIVE
          type: string
      type: object
    CardBalance:
      description: Model for a card balance.
      example:
        balance:
          unit: EUR
          value: "999.99"
        availableCashAmount:
          unit: EUR
          value: "999.99"
        cardId: 0123456789ABCDEF0123456789ABCDEF
        card:
          participantId: 0123456789ABCDEF0123456789ABCDEF
          cardImage:
            visaCardImageId: "0002"
            imageDescription: Schmetterling
            imageBaseFilename: visual_visamotiv_karte0002
          holderName: Tommer Tapir
          clientId: 0123456789ABCDEF0123456789ABCDEF
          cardId: 0123456789ABCDEF0123456789ABCDEF
          cardType:
            text: text
            key: key
          cardDisplayId: XXXX XXXX XXXX 1234
          primaryAccountNumberSuffix: "1234"
          cardValidity: 01/21
          settlementAccountId: 0123456789ABCDEF0123456789ABCDEF
          cardLimit:
            unit: EUR
            value: "999.99"
          status: ACTIVE
      properties:
        cardId:
          description: Card identifier (UUID).
          example: 0123456789ABCDEF0123456789ABCDEF
          readOnly: true
          type: string
        card:
          $ref: "#/components/schemas/Card"
        balance:
          $ref: "#/components/schemas/AmountValue"
        availableCashAmount:
          $ref: "#/components/schemas/AmountValue"
      type: object
    CostEntry:
      description: Cost entry of a cost group.
      example:
        amountReportingCurrency:
          unit: EUR
          value: "999.99"
        inducement:
          amount:
            unit: EUR
            value: "999.99"
          estimated: false
        amount:
          unit: EUR
          value: "999.99"
        label: Orderprovision
        type: E
      properties:
        type:
          description: Type of the cost entry
          enum:
          - E
          - F
          - P
          readOnly: true
          type: string
        label:
          description: Label of the cost entry
          example: Orderprovision
          readOnly: true
          type: string
        amount:
          $ref: "#/components/schemas/AmountValue"
        amountReportingCurrency:
          $ref: "#/components/schemas/AmountValue"
        inducement:
          $ref: "#/components/schemas/Inducement"
      type: object
    CostGroup:
      description: Model for a cost group including a list of cost entries for this
        cost group.
      example:
        costs:
        - amountReportingCurrency:
            unit: EUR
            value: "999.99"
          inducement:
            amount:
              unit: EUR
              value: "999.99"
            estimated: false
          amount:
            unit: EUR
            value: "999.99"
          label: Orderprovision
          type: E
        - amountReportingCurrency:
            unit: EUR
            value: "999.99"
          inducement:
            amount:
              unit: EUR
              value: "999.99"
            estimated: false
          amount:
            unit: EUR
            value: "999.99"
          label: Orderprovision
          type: E
        sumReportingCurrency:
          unit: EUR
          value: "999.99"
        sum:
          unit: EUR
          value: "999.99"
        label: label
        type: K
      properties:
        type:
          description: "Type of cost group. K: Costs of securities purchase, H: Costs\
            \ of the holding period (per year), V: Costs of the sale of securities"
          enum:
          - K
          - H
          - V
          readOnly: true
          type: string
        label:
          description: Name of cost group for showing in the cost-note
          readOnly: true
          type: string
        sum:
          $ref: "#/components/schemas/AmountValue"
        sumReportingCurrency:
          $ref: "#/components/schemas/AmountValue"
        costs:
          description: List of costs per cost group
          items:
            $ref: "#/components/schemas/CostEntry"
          readOnly: true
          type: array
      type: object
    CostIndicationExAnte:
      description: Ex-ante cost indication on the basis of the order data.
      example:
        totalCostsAbs:
          unit: EUR
          value: "999.99"
        linkKid: linkKid
        side: BUY
        reportingCurrency:
          Currency: EUR
        fxRate:
          ask:
            unit: EUR
            value: "999.99"
          bid:
            unit: EUR
            value: "999.99"
        quantity:
          unit: EUR
          value: "999.99"
        totalCostsRel:
          decimalPlaces: "99"
          percentString: percentString
          preDecimalPlaces: "99"
        depotId: depotId
        holdingPeriod: holdingPeriod
        purchaseCosts:
          costs:
          - amountReportingCurrency:
              unit: EUR
              value: "999.99"
            inducement:
              amount:
                unit: EUR
                value: "999.99"
              estimated: false
            amount:
              unit: EUR
              value: "999.99"
            label: Orderprovision
            type: E
          - amountReportingCurrency:
              unit: EUR
              value: "999.99"
            inducement:
              amount:
                unit: EUR
                value: "999.99"
              estimated: false
            amount:
              unit: EUR
              value: "999.99"
            label: Orderprovision
            type: E
          sumReportingCurrency:
            unit: EUR
            value: "999.99"
          sum:
            unit: EUR
            value: "999.99"
          label: label
          type: K
        linkCosts: linkCosts
        venueName: venueName
        settlementCurrency:
          Currency: EUR
        totalCostsDetail:
          externalCosts:
            amount:
              unit: EUR
              value: "999.99"
            averageReturnPA:
              decimalPlaces: "99"
              percentString: percentString
              preDecimalPlaces: "99"
            label: label
            type: E
          serviceCosts:
            amount:
              unit: EUR
              value: "999.99"
            averageReturnPA:
              decimalPlaces: "99"
              percentString: percentString
              preDecimalPlaces: "99"
            label: label
            type: E
          serviceInducement:
            unit: EUR
            value: "999.99"
          productCosts:
            amount:
              unit: EUR
              value: "999.99"
            averageReturnPA:
              decimalPlaces: "99"
              percentString: percentString
              preDecimalPlaces: "99"
            label: label
            type: E
        tradingCurrency:
          Currency: EUR
        calculationSuccessful: false
        name: name
        limit:
          unit: EUR
          value: "999.99"
        expectedValue:
          unit: EUR
          value: "999.99"
        wkn: wkn
        salesCosts:
          costs:
          - amountReportingCurrency:
              unit: EUR
              value: "999.99"
            inducement:
              amount:
                unit: EUR
                value: "999.99"
              estimated: false
            amount:
              unit: EUR
              value: "999.99"
            label: Orderprovision
            type: E
          - amountReportingCurrency:
              unit: EUR
              value: "999.99"
            inducement:
              amount:
                unit: EUR
                value: "999.99"
              estimated: false
            amount:
              unit: EUR
              value: "999.99"
            label: Orderprovision
            type: E
          sumReportingCurrency:
            unit: EUR
            value: "999.99"
          sum:
            unit: EUR
            value: "999.99"
          label: label
          type: K
        totalHoldingCosts:
          year1:
            amount:
              unit: EUR
              value: "999.99"
            averageReturnPA:
              decimalPlaces: "99"
              percentString: percentString
              preDecimalPlaces: "99"
            type: IM_ERSTEN_JAHR
          year2:
            amount:
              unit: EUR
              value: "999.99"
            averageReturnPA:
              decimalPlaces: "99"
              percentString: percentString
              preDecimalPlaces: "99"
            type: IM_ERSTEN_JAHR
          sales:
            amount:
              unit: EUR
              value: "999.99"
            averageReturnPA:
              decimalPlaces: "99"
              percentString: percentString
              preDecimalPlaces: "99"
            type: IM_ERSTEN_JAHR
        expectedSettlementCosts:
          unit: EUR
          value: "999.99"
        holdingCosts:
          costs:
          - amountReportingCurrency:
              unit: EUR
              value: "999.99"
            inducement:
              amount:
                unit: EUR
                value: "999.99"
              estimated: false
            amount:
              unit: EUR
              value: "999.99"
            label: Orderprovision
            type: E
          - amountReportingCurrency:
              unit: EUR
              value: "999.99"
            inducement:
              amount:
                unit: EUR
                value: "999.99"
              estimated: false
            amount:
              unit: EUR
              value: "999.99"
            label: Orderprovision
            type: E
          sumReportingCurrency:
            unit: EUR
            value: "999.99"
          sum:
            unit: EUR
            value: "999.99"
          label: label
          type: K
      properties:
        depotId:
          description: Securities account number (UUID)
          readOnly: true
          type: string
        calculationSuccessful:
          default: false
          description: "Result of calculation of cost indication; if false, linkCosts\
            \ will link to a generic cost indication"
          readOnly: true
          type: boolean
        name:
          description: Instrument name analogous to Instrument.name
          readOnly: true
          type: string
        wkn:
          description: WKN analogous to Instrument.wkn
          readOnly: true
          type: string
        side:
          description: Type of transaction analogous to Order.side
          enum:
          - BUY
          - SELL
          readOnly: true
          type: string
        quantity:
          $ref: "#/components/schemas/AmountValue"
        limit:
          $ref: "#/components/schemas/AmountValue"
        expectedValue:
          $ref: "#/components/schemas/AmountValue"
        venueName:
          description: Execution venue as name for the display
          readOnly: true
          type: string
        settlementCurrency:
          $ref: "#/components/schemas/CurrencyString"
        tradingCurrency:
          $ref: "#/components/schemas/CurrencyString"
        reportingCurrency:
          $ref: "#/components/schemas/CurrencyString"
        fxRate:
          $ref: "#/components/schemas/FXRateEUR"
        expectedSettlementCosts:
          $ref: "#/components/schemas/AmountValue"
        purchaseCosts:
          $ref: "#/components/schemas/CostGroup"
        holdingCosts:
          $ref: "#/components/schemas/CostGroup"
        salesCosts:
          $ref: "#/components/schemas/CostGroup"
        holdingPeriod:
          description: "Holding period in years, displayed on purchase"
          readOnly: true
          type: string
        totalCostsAbs:
          $ref: "#/components/schemas/AmountValue"
        totalCostsRel:
          $ref: "#/components/schemas/PercentageString"
        totalCostsDetail:
          $ref: "#/components/schemas/TotalCostBlock"
        totalHoldingCosts:
          $ref: "#/components/schemas/TotalHoldingCostBlock"
        linkCosts:
          description: HTTP link to further cost information
          readOnly: true
          type: string
        linkKid:
          description: HTTP link to key information document
          readOnly: true
          type: string
      type: object
    CurrencyString:
      description: Represents the ISO-4217 code of the currency.
      example:
        Currency: EUR
      properties:
        Currency:
          example: EUR
          maxLength: 3
          minLength: 3
          type: string
      type: object
    DateString:
      description: Represents the date without the time.
      example:
        date: 2018-07-03
      properties:
        date:
          description: "Time with format: 'yyyy-MM-dd'"
          example: 2018-07-03
          format: date
          type: string
      type: object
    DateTimeString:
      description: Represents the date with the time.
      example:
        dateTime: 2018-07-03T15:40:30+01:00
      properties:
        dateTime:
          description: "Time with format: 'yyyy-MM-dd'T'HH:mm:ssX'"
          example: 2018-07-03T15:40:30+01:00
          format: date-time
          type: string
      type: object
    Depot:
      example:
        defaultSettlementAccountId: defaultSettlementAccountId
        clientId: 0123456789ABCDEF0123456789ABCDEF
        depotId: depotId
        depotDisplayId: depotDisplayId
        settlementAccountIds:
        - settlementAccountIds
        - settlementAccountIds
      properties:
        depotId:
          description: Securities account Identifier (UUID)
          readOnly: true
          type: string
        depotDisplayId:
          description: Securities account Number
          readOnly: true
          type: string
        clientId:
          description: Identification code of the client uniquely assigned to the
            securities account
          example: 0123456789ABCDEF0123456789ABCDEF
          readOnly: true
          type: string
        defaultSettlementAccountId:
          description: Default settlement account number uniquely assigned to the
            securities account
          readOnly: true
          type: string
        settlementAccountIds:
          description: List of other settlement account identification numbers assigned
            to the securities account
          items:
            type: string
          readOnly: true
          type: array
      type: object
    DepotAggregation:
      example:
        purchaseValue:
          unit: EUR
          value: "999.99"
        profitLossPurchaseRel:
          decimalPlaces: "99"
          percentString: percentString
          preDecimalPlaces: "99"
        dateLastUpdate: dateLastUpdate
        depot:
          defaultSettlementAccountId: defaultSettlementAccountId
          clientId: 0123456789ABCDEF0123456789ABCDEF
          depotId: depotId
          depotDisplayId: depotDisplayId
          settlementAccountIds:
          - settlementAccountIds
          - settlementAccountIds
        lendingValue:
          unit: EUR
          value: "999.99"
        depotId: depotId
        profitLossPrevDayAbs:
          unit: EUR
          value: "999.99"
        profitLossPurchaseAbs:
          unit: EUR
          value: "999.99"
        prevDayValue:
          unit: EUR
          value: "999.99"
        currentValue:
          unit: EUR
          value: "999.99"
        profitLossPrevDayRel:
          decimalPlaces: "99"
          percentString: percentString
          preDecimalPlaces: "99"
      properties:
        depot:
          $ref: "#/components/schemas/Depot"
        depotId:
          description: Securities account Identifier (UUID)
          readOnly: true
          type: string
        dateLastUpdate:
          description: Date of the last update of securities holdings & master data.
            YYYY-MM-DD
          readOnly: true
          type: string
        currentValue:
          $ref: "#/components/schemas/AmountValue"
        purchaseValue:
          $ref: "#/components/schemas/AmountValue"
        prevDayValue:
          $ref: "#/components/schemas/AmountValue"
        lendingValue:
          $ref: "#/components/schemas/AmountValue"
        profitLossPurchaseAbs:
          $ref: "#/components/schemas/AmountValue"
        profitLossPurchaseRel:
          $ref: "#/components/schemas/PercentageString"
        profitLossPrevDayAbs:
          $ref: "#/components/schemas/AmountValue"
        profitLossPrevDayRel:
          $ref: "#/components/schemas/PercentageString"
      type: object
    DepotPosition:
      example:
        purchaseValue:
          unit: EUR
          value: "999.99"
        availableQuantity:
          unit: EUR
          value: "999.99"
        quantity:
          unit: EUR
          value: "999.99"
        depotId: depotId
        currentPrice:
          quantity:
            unit: EUR
            value: "999.99"
          priceDateTime:
            dateTime: 2018-07-03T15:40:30+01:00
          price:
            unit: EUR
            value: "999.99"
          type: BID
        instrument:
          fundsDistribution:
            isIndividualIssueSurchargeCorrected: false
            bonification: "99.999"
            totalExpenseRatio: "99.999"
            regularIssueSurcharge: "99.999"
            discountIssueSurcharge: "99.999"
            rating:
              morningstar: morningstar
              moodys: moodys
            currency: EUR
            fundStatus: A
            reducedIssueSurcharge: "99.999"
            investmentCategory: investmentCategory
            fundFlags:
            - fundFlags
            - fundFlags
            individualIssueSurcharge: "99.999"
          instrumentId: instrumentId
          derivativeData:
            underlyingPrice:
              quantity:
                unit: EUR
                value: "999.99"
              priceDateTime:
                dateTime: 2018-07-03T15:40:30+01:00
              price:
                unit: EUR
                value: "999.99"
              type: BID
            leverage: "13.37"
            remainingTermInYears: "13.37"
            multiplier: "13.37"
            rating:
              morningstar: morningstar
              moodys: moodys
            warrantType: Call
            expiryDate: 2019-03-14
            interestPaymentDate: 2019-03-14
            maturityDate: 2019-03-14
            underlyingInstrument: null
            nominalRate: "99.999"
            interestPaymentInterval: MONTHLY
            strikePrice:
              unit: EUR
              value: "999.99"
            yieldPA: "99.999"
            certificateType: Hebel
          name: name
          mnemonic: mnemonic
          wkn: wkn
          shortName: shortName
          orderDimensions:
            venues:
            - country: country
              orderTypes:
                key:
                  limitExtensions:
                  - limitExtensions
                  - limitExtensions
                  tradingRestrictions:
                  - tradingRestrictions
                  - tradingRestrictions
              venueId: venueId
              name: name
              sides:
              - sides
              - sides
              type: type
              validityTypes:
              - validityTypes
              - validityTypes
              currencies:
              - Currency: EUR
              - Currency: EUR
            - country: country
              orderTypes:
                key:
                  limitExtensions:
                  - limitExtensions
                  - limitExtensions
                  tradingRestrictions:
                  - tradingRestrictions
                  - tradingRestrictions
              venueId: venueId
              name: name
              sides:
              - sides
              - sides
              type: type
              validityTypes:
              - validityTypes
              - validityTypes
              currencies:
              - Currency: EUR
              - Currency: EUR
          staticData:
            priipsRelevant: false
            shippingWaiverRequired: false
            instrumentType: SHARE
            kidAvailable: false
            fundRedemptionLimited: false
            notation: XXX
            currency:
              Currency: EUR
          isin: isin
        purchasePrice:
          unit: EUR
          value: "999.99"
        profitLossPurchaseAbs:
          unit: EUR
          value: "999.99"
        prevDayValue:
          unit: EUR
          value: "999.99"
        version: version
        profitLossPurchaseRel:
          decimalPlaces: "99"
          percentString: percentString
          preDecimalPlaces: "99"
        positionId: positionId
        prevDayPrice:
          quantity:
            unit: EUR
            value: "999.99"
          priceDateTime:
            dateTime: 2018-07-03T15:40:30+01:00
          price:
            unit: EUR
            value: "999.99"
          type: BID
        profitLossPrevDayAbs:
          unit: EUR
          value: "999.99"
        custodyType: custodyType
        wkn: wkn
        currentValue:
          unit: EUR
          value: "999.99"
        profitLossPrevDayRel:
          decimalPlaces: "99"
          percentString: percentString
          preDecimalPlaces: "99"
      properties:
        depotId:
          description: Securities account Identifier (UUID)
          readOnly: true
          type: string
        positionId:
          description: Position identification number in securities account
          readOnly: true
          type: string
        wkn:
          description: Identification number of the instrument
          readOnly: true
          type: string
        custodyType:
          description: Custody type
          readOnly: true
          type: string
        quantity:
          $ref: "#/components/schemas/AmountValue"
        availableQuantity:
          $ref: "#/components/schemas/AmountValue"
        currentPrice:
          $ref: "#/components/schemas/Price"
        purchasePrice:
          $ref: "#/components/schemas/AmountValue"
        prevDayPrice:
          $ref: "#/components/schemas/Price"
        currentValue:
          $ref: "#/components/schemas/AmountValue"
        purchaseValue:
          $ref: "#/components/schemas/AmountValue"
        prevDayValue:
          $ref: "#/components/schemas/AmountValue"
        profitLossPurchaseAbs:
          $ref: "#/components/schemas/AmountValue"
        profitLossPurchaseRel:
          $ref: "#/components/schemas/PercentageString"
        profitLossPrevDayAbs:
          $ref: "#/components/schemas/AmountValue"
        profitLossPrevDayRel:
          $ref: "#/components/schemas/PercentageString"
        instrument:
          $ref: "#/components/schemas/Instrument"
        version:
          description: "Position version, if available"
          readOnly: true
          type: string
      type: object
    DepotTransaction:
      description: Model for a depot transaction.
      example:
        fxRate:
          ask:
            unit: EUR
            value: "999.99"
          bid:
            unit: EUR
            value: "999.99"
        quantity:
          unit: EUR
          value: "999.99"
        instrumentId: instrumentId
        instrument:
          fundsDistribution:
            isIndividualIssueSurchargeCorrected: false
            bonification: "99.999"
            totalExpenseRatio: "99.999"
            regularIssueSurcharge: "99.999"
            discountIssueSurcharge: "99.999"
            rating:
              morningstar: morningstar
              moodys: moodys
            currency: EUR
            fundStatus: A
            reducedIssueSurcharge: "99.999"
            investmentCategory: investmentCategory
            fundFlags:
            - fundFlags
            - fundFlags
            individualIssueSurcharge: "99.999"
          instrumentId: instrumentId
          derivativeData:
            underlyingPrice:
              quantity:
                unit: EUR
                value: "999.99"
              priceDateTime:
                dateTime: 2018-07-03T15:40:30+01:00
              price:
                unit: EUR
                value: "999.99"
              type: BID
            leverage: "13.37"
            remainingTermInYears: "13.37"
            multiplier: "13.37"
            rating:
              morningstar: morningstar
              moodys: moodys
            warrantType: Call
            expiryDate: 2019-03-14
            interestPaymentDate: 2019-03-14
            maturityDate: 2019-03-14
            underlyingInstrument: null
            nominalRate: "99.999"
            interestPaymentInterval: MONTHLY
            strikePrice:
              unit: EUR
              value: "999.99"
            yieldPA: "99.999"
            certificateType: Hebel
          name: name
          mnemonic: mnemonic
          wkn: wkn
          shortName: shortName
          orderDimensions:
            venues:
            - country: country
              orderTypes:
                key:
                  limitExtensions:
                  - limitExtensions
                  - limitExtensions
                  tradingRestrictions:
                  - tradingRestrictions
                  - tradingRestrictions
              venueId: venueId
              name: name
              sides:
              - sides
              - sides
              type: type
              validityTypes:
              - validityTypes
              - validityTypes
              currencies:
              - Currency: EUR
              - Currency: EUR
            - country: country
              orderTypes:
                key:
                  limitExtensions:
                  - limitExtensions
                  - limitExtensions
                  tradingRestrictions:
                  - tradingRestrictions
                  - tradingRestrictions
              venueId: venueId
              name: name
              sides:
              - sides
              - sides
              type: type
              validityTypes:
              - validityTypes
              - validityTypes
              currencies:
              - Currency: EUR
              - Currency: EUR
          staticData:
            priipsRelevant: false
            shippingWaiverRequired: false
            instrumentType: SHARE
            kidAvailable: false
            fundRedemptionLimited: false
            notation: XXX
            currency:
              Currency: EUR
          isin: isin
        settlementDate:
          dateTime: 2018-07-03T15:40:30+01:00
        transactionDirection: IN
        transactionId: transactionId
        transactionType: BUY
        businessDate:
          date: 2018-07-03
        executionPrice:
          unit: EUR
          value: "999.99"
        bookingStatus: BOOKED
        bookingDate:
          date: 2018-07-03
        transactionValue:
          unit: EUR
          value: "999.99"
      properties:
        transactionId:
          description: Transaction Identifier (UUID)
          readOnly: true
          type: string
        bookingStatus:
          description: Status of transaction
          enum:
          - BOOKED
          - NOTBOOKED
          readOnly: true
          type: string
        bookingDate:
          $ref: "#/components/schemas/DateString"
        settlementDate:
          $ref: "#/components/schemas/DateTimeString"
        businessDate:
          $ref: "#/components/schemas/DateString"
        quantity:
          $ref: "#/components/schemas/AmountValue"
        instrumentId:
          description: InstrumentId as UUID
          readOnly: true
          type: string
        instrument:
          $ref: "#/components/schemas/Instrument"
        executionPrice:
          $ref: "#/components/schemas/AmountValue"
        transactionValue:
          $ref: "#/components/schemas/AmountValue"
        transactionDirection:
          description: Transaction direction
          enum:
          - IN
          - OUT
          readOnly: true
          type: string
        transactionType:
          description: On the basis of securities account turnover transaction type
          enum:
          - BUY
          - SELL
          - TRANSFER_IN
          - TRANSFER_OUT
          - OTHER
          readOnly: true
          type: string
        fxRate:
          $ref: "#/components/schemas/FXRateEUR"
      type: object
    DerivativeData:
      description: additional data of a derivative
      example:
        underlyingPrice:
          quantity:
            unit: EUR
            value: "999.99"
          priceDateTime:
            dateTime: 2018-07-03T15:40:30+01:00
          price:
            unit: EUR
            value: "999.99"
          type: BID
        leverage: "13.37"
        remainingTermInYears: "13.37"
        multiplier: "13.37"
        rating:
          morningstar: morningstar
          moodys: moodys
        warrantType: Call
        expiryDate: 2019-03-14
        interestPaymentDate: 2019-03-14
        maturityDate: 2019-03-14
        underlyingInstrument: null
        nominalRate: "99.999"
        interestPaymentInterval: MONTHLY
        strikePrice:
          unit: EUR
          value: "999.99"
        yieldPA: "99.999"
        certificateType: Hebel
      properties:
        underlyingInstrument:
          $ref: "#/components/schemas/Instrument"
        underlyingPrice:
          $ref: "#/components/schemas/Price"
        certificateType:
          description: Certificate Type
          enum:
          - Hebel
          - Index
          - Basket
          - Hedge-Fonds-Zertifikat
          - Discount
          - Aktienanleihe
          - Bandbreite
          - Outperformance
          - Express
          - Bonus
          - Kapitalschutz
          readOnly: true
          type: string
        rating:
          $ref: "#/components/schemas/Rating"
        strikePrice:
          $ref: "#/components/schemas/AmountValue"
        leverage:
          description: Leverage of the derivate
          example: "13.37"
          readOnly: true
          type: string
        multiplier:
          description: multiplier of the underlying
          example: "13.37"
          readOnly: true
          type: string
        expiryDate:
          description: expiry date of a derivative
          example: 2019-03-14
          readOnly: true
          type: string
        yieldPA:
          description: yield p.a.
          example: "99.999"
          readOnly: true
          type: string
        remainingTermInYears:
          description: remaining Term (expiryDate-today)
          example: "13.37"
          readOnly: true
          type: string
        nominalRate:
          description: nominal rate
          example: "99.999"
          readOnly: true
          type: string
        warrantType:
          description: Warrant Type
          enum:
          - Call
          - Put
          readOnly: true
          type: string
        maturityDate:
          description: maturity Date of a bonds
          example: 2019-03-14
          readOnly: true
          type: string
        interestPaymentDate:
          description: date of the interest payment of a bond
          example: 2019-03-14
          readOnly: true
          type: string
        interestPaymentInterval:
          description: "interval of the interest payment of a bond\",allowableValues\
            \ = \"monthly, quarterly, biannualy, annualy"
          enum:
          - MONTHLY
          - QUARTERLY
          - SEMIANNUALLY
          - ANNUALLY
          - OTHER
          readOnly: true
          type: string
      type: object
    Dimensions:
      description: Model for dimensions.
      example:
        venues:
        - country: country
          orderTypes:
            key:
              limitExtensions:
              - limitExtensions
              - limitExtensions
              tradingRestrictions:
              - tradingRestrictions
              - tradingRestrictions
          venueId: venueId
          name: name
          sides:
          - sides
          - sides
          type: type
          validityTypes:
          - validityTypes
          - validityTypes
          currencies:
          - Currency: EUR
          - Currency: EUR
        - country: country
          orderTypes:
            key:
              limitExtensions:
              - limitExtensions
              - limitExtensions
              tradingRestrictions:
              - tradingRestrictions
              - tradingRestrictions
          venueId: venueId
          name: name
          sides:
          - sides
          - sides
          type: type
          validityTypes:
          - validityTypes
          - validityTypes
          currencies:
          - Currency: EUR
          - Currency: EUR
      properties:
        venues:
          items:
            $ref: "#/components/schemas/Venue"
          type: array
      type: object
    Document:
      description: Model for a document.
      example:
        dateCreation: 2019-03-14
        documentMetaData:
          archived: false
          alreadyRead: false
          predocumentExists: false
          dateRead: 2019-03-14
        name: "Villeroy & Boch AG: Einladung zur Hauptversammlung"
        deletable: false
        advertisement: false
        documentId: 0123456789ABCDEF0123456789ABCDEF
        mimeType: application/pdf
      properties:
        documentId:
          description: Unique ID of the document (UUID)
          example: 0123456789ABCDEF0123456789ABCDEF
          readOnly: true
          type: string
        name:
          description: Name or description of the document.
          example: "Villeroy & Boch AG: Einladung zur Hauptversammlung"
          maxLength: 50
          minLength: 0
          readOnly: true
          type: string
        dateCreation:
          description: Date at which the Document was assigned to the client.
          example: 2019-03-14
          readOnly: true
          type: string
        mimeType:
          description: The native mimeType of the document.
          example: application/pdf
          readOnly: true
          type: string
        deletable:
          default: false
          description: Is the client allowed to delete the document?
          readOnly: true
          type: boolean
        advertisement:
          default: false
          description: Is the document advertising comdirect products?
          readOnly: true
          type: boolean
        documentMetaData:
          $ref: "#/components/schemas/DocumentMetadata"
      type: object
    DocumentMetadata:
      description: Model for category-specific metadata of documents.
      example:
        archived: false
        alreadyRead: false
        predocumentExists: false
        dateRead: 2019-03-14
      properties:
        archived:
          default: false
          description: Is document archived?
          readOnly: true
          type: boolean
        dateRead:
          description: Date on which the document was read.
          example: 2019-03-14
          readOnly: true
          type: string
        alreadyRead:
          default: false
          description: Has the document been read?
          readOnly: true
          type: boolean
        predocumentExists:
          default: false
          type: boolean
      type: object
    EnumText:
      description: Holds a unique key and the corresponding text.
      example:
        text: text
        key: key
      properties:
        key:
          description: Unique key value for an enumeration type.
          maxLength: 40
          minLength: 1
          readOnly: true
          type: string
        text:
          description: Display text in German language.
          maxLength: 65
          minLength: 0
          readOnly: true
          type: string
      type: object
    Execution:
      description: Model for an order's execution.
      example:
        executionId: executionId
        executedQuantity:
          unit: EUR
          value: "999.99"
        executionPrice:
          unit: EUR
          value: "999.99"
        executionNumber: 6
        executionTimestamp:
          timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        executionId:
          description: Execution ID (UUID)
          maxLength: 40
          minLength: 0
          readOnly: true
          type: string
        executionNumber:
          description: Position (by time) of the execution of an order
          format: int32
          readOnly: true
          type: integer
        executedQuantity:
          $ref: "#/components/schemas/AmountValue"
        executionPrice:
          $ref: "#/components/schemas/AmountValue"
        executionTimestamp:
          $ref: "#/components/schemas/TimestampString"
      type: object
    FixedTermSavings:
      example:
        savingsAmount:
          unit: EUR
          value: "999.99"
        interestRate: "99.999"
        fixedTermSavingsDisplayName: Laufzeitkonto
        fixedTermSavingsId: 0123456789ABCDEF0123456789ABCDEF
        fixedTermSavingsType: SHORT_TERM
        extendable: true
        creationDate: 2019-03-14
        prolongationAmount:
          unit: EUR
          value: "999.99"
        contractPeriodInMonths: 120
        expirationDate: 2019-03-14
      properties:
        fixedTermSavingsId:
          description: UUID of the deposit account.
          example: 0123456789ABCDEF0123456789ABCDEF
          readOnly: true
          type: string
        savingsAmount:
          $ref: "#/components/schemas/AmountValue"
        interestRate:
          description: Interest rate of the deposit account.
          example: "99.999"
          readOnly: true
          type: string
        fixedTermSavingsType:
          description: Type of the deposit account.
          enum:
          - SHORT_TERM
          - LONG_TERM
          readOnly: true
          type: string
        fixedTermSavingsDisplayName:
          description: Name of the deposit account.
          example: Laufzeitkonto
          readOnly: true
          type: string
        contractPeriodInMonths:
          description: Contract period of the deposit account in months.
          example: 120
          format: int32
          readOnly: true
          type: integer
        creationDate:
          description: Start date of investment.
          example: 2019-03-14
          readOnly: true
          type: string
        expirationDate:
          description: End date of investment.
          example: 2019-03-14
          readOnly: true
          type: string
        prolongationAmount:
          $ref: "#/components/schemas/AmountValue"
        extendable:
          default: false
          description: Indicates whether the investment can be extended.
          example: true
          readOnly: true
          type: boolean
      type: object
    FundDistribution:
      description: "additional fund data, if the instrument is a fund"
      example:
        isIndividualIssueSurchargeCorrected: false
        bonification: "99.999"
        totalExpenseRatio: "99.999"
        regularIssueSurcharge: "99.999"
        discountIssueSurcharge: "99.999"
        rating:
          morningstar: morningstar
          moodys: moodys
        currency: EUR
        fundStatus: A
        reducedIssueSurcharge: "99.999"
        investmentCategory: investmentCategory
        fundFlags:
        - fundFlags
        - fundFlags
        individualIssueSurcharge: "99.999"
      properties:
        fundStatus:
          description: Status of fund
          enum:
          - A
          - K
          - P
          - R
          - V
          - "N"
          - L
          - D
          - F
          - I
          - M
          readOnly: true
          type: string
        fundFlags:
          description: List of different features of funds
          items:
            type: string
          readOnly: true
          type: array
        currency:
          description: currency of fund
          example: EUR
          readOnly: true
          type: string
        regularIssueSurcharge:
          description: Regular issue surcharge
          example: "99.999"
          readOnly: true
          type: string
        discountIssueSurcharge:
          description: Discount issue surcharge
          example: "99.999"
          readOnly: true
          type: string
        reducedIssueSurcharge:
          description: Reduced issue surcharge
          example: "99.999"
          readOnly: true
          type: string
        individualIssueSurcharge:
          description: Individual issue surcharge
          example: "99.999"
          readOnly: true
          type: string
        isIndividualIssueSurchargeCorrected:
          default: false
          description: Is individual issue surcharge corrected
          readOnly: true
          type: boolean
        bonification:
          description: Bonification
          example: "99.999"
          readOnly: true
          type: string
        investmentCategory:
          description: Investment category
          readOnly: true
          type: string
        totalExpenseRatio:
          description: Total expense ratio
          example: "99.999"
          readOnly: true
          type: string
        rating:
          $ref: "#/components/schemas/Rating"
      type: object
    FXRateEUR:
      description: Exchange rate for settlement currency to FX.
      example:
        ask:
          unit: EUR
          value: "999.99"
        bid:
          unit: EUR
          value: "999.99"
      properties:
        bid:
          $ref: "#/components/schemas/AmountValue"
        ask:
          $ref: "#/components/schemas/AmountValue"
      type: object
    Inducement:
      description: Model for an inducement.
      example:
        amount:
          unit: EUR
          value: "999.99"
        estimated: false
      properties:
        amount:
          $ref: "#/components/schemas/AmountValue"
        estimated:
          default: false
[...]
